/* 
CSS 
box-sizing: 
width: 
border: 
float:
text-align:
color:
font-size
font-family
*/

/* 
CSS selectors
#id
.class
element.class
*
element
CSS element,element Selector */






/* nav {
    background-color: black;


}






p { 
    display: flex;
} */